:root {
    --background-card: #c4c3e3;
    --background-page: #504e76;
    --question-box: #fdf8e2;
    --viewed: #a3b565;
    --letters-black: #000;
    --letters-white: #f4f3e6;

    --mainfont: "Saira Condensed", "Oswald";
} /*color palette and font*/

/*global format*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--mainfont), sans-serif;
    margin: 0; /*centrado en toda la pag */
    padding: 0;
    display: flex; /* syntax error fixed */
    flex-direction: column; /* card arriba y footer abajo */
    justify-content: center;
    align-items: center;
    min-height: 16rem;
    background-color: var(--background-page);
}

/* Footer */
.footer {
    margin-top: 2rem; /* FAQs al footer */
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    color: var(--background-card);
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}

/* FAQs cntent */
.card-main {
    box-shadow: -5px 5px 20px 2px rgba(64,63,64,0.8);
    background-color: var(--background-card);
    padding: 4rem; /*inside*/
    margin: 15rem; /*outside*/
    border-radius: 2rem;
}

.card-main h1 {
    text-align: center;
    margin-bottom: 2rem;
}
h1 {
    font-size: 3rem;
    color: var(--letters-black);
}

h2 {
    font-size: 1.6rem;
}

/* questions */
.toggle {
    display: none;
}

.question {
    display: block;
    font-weight: bold;
    cursor: pointer;
    background: var(--question-box);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: backround 0.5s;
}

.question:hover {
    background: var(--viewed);
}
.question:hover h2 {
    color: var(--letters-white);
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition:max-height 0.5s ease-in-out;
    padding-left: 2rem;
}

.toggle:checked + .question + .answer {
    max-height: 10rem;
}